<ul class="scrolling-wrapper scrolling-wrapper_columns_four thourney-table">
    <li class="thourney-table__column">
      <h4 class="thourney-table__column-title">1/16 финала</h4>
      <div class="thourney-table__items">
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 10-11 Юноши",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "1501 год 2010-2011",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч-М-10-11 -23",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 91 баскетбол 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "ШСК 1520 Победный мяч МЛ.",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 2030 Победный мяч юноши 2010-11г",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч Юноши 10-11 ХОРС",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "баскетбол юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "1270 вектор ПМ",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 2012, 2022-2023 уч.год",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Вектор .Победный мяч.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч юноши 2010-11 г",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 10-11 Юноши",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "1501 год 2010-2011",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч-М-10-11 -23",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 91 баскетбол 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "ШСК 1520 Победный мяч МЛ.",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 2030 Победный мяч юноши 2010-11г",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч Юноши 10-11 ХОРС",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "баскетбол юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "1270 вектор ПМ",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 2012, 2022-2023 уч.год",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Вектор .Победный мяч.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч юноши 2010-11 г",
              }
            })
        </article>
      </div>
    </li>
    <li class="thourney-table__column">
      <h4 class="thourney-table__column-title">1/8 финала</h4>
      <div class="thourney-table__items">
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 10-11 Юноши",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "1501 год 2010-2011",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч-М-10-11 -23",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 91 баскетбол 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "ШСК 1520 Победный мяч МЛ.",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШСК 2030 Победный мяч юноши 2010-11г",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч Юноши 10-11 ХОРС",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "баскетбол юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "1270 вектор ПМ",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч 10-11 юноши",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 2012, 2022-2023 уч.год",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Вектор .Победный мяч.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч юноши 2010-11 г",
              }
            })
        </article>
      </div>
    </li>
    <li class="thourney-table__column">
      <h4 class="thourney-table__column-title">1/4 финала</h4>
      <div class="thourney-table__items">
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч Юноши 10-11 ХОРС",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "баскетбол юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 2012, 2022-2023 уч.год",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Вектор .Победный мяч.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч юноши 2010-11 г",
              }
            })
        </article>
      </div>
    </li>
    <li class="thourney-table__column">
      <h4 class="thourney-table__column-title">Полуфинал</h4>
      <div class="thourney-table__items">
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "Победный мяч 2012, 2022-2023 уч.год",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Вектор .Победный мяч.",
              }
            })
        </article>
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "Победный мяч юноши 2010-11 г",
              }
            })
        </article>
      </div>
    </li>
    <li class="thourney-table__column">
      <h4 class="thourney-table__column-title">Финал</h4>
      <div class="thourney-table__items">
        <article class="thourney-table__item">
          <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "4",
                "team": "баскетбол юноши 2010-2011",
              }
            })
          @@include("../card-link/card-link.html", {
            "href": "#0",
            card : {
                "class": "playoff",
                "points": "0",
                "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
              }
            })
        </article>
      </div>
    </li>
</ul>
<ul class="scrolling-wrapper scrolling-wrapper_columns_four thourney-table">
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">1/8 финала</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 10-11 Юноши",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "1501 год 2010-2011",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч-М-10-11 -23",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШСК 91 баскетбол 10-11 юноши",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "ШСК 1520 Победный мяч МЛ.",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШСК 2030 Победный мяч юноши 2010-11г",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч Юноши 10-11 ХОРС",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "1270 вектор ПМ",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч 10-11 юноши",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">1/4 финала</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч Юноши 10-11 ХОРС",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Полуфинал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Финал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
    </div>
  </li>
</ul>
<ul class="scrolling-wrapper thourney-table">
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">1/4 финала</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч Юноши 10-11 ХОРС",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Школьная спортивная лига по баскетболу Победный мяч среди команд юношей 2010-2011 г.р.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Полуфинал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Финал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
    </div>
  </li>
</ul>
<ul class="scrolling-wrapper scrolling-wrapper_columns_two thourney-table">
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Полуфинал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "Победный мяч 2012, 2022-2023 уч.год",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Вектор .Победный мяч.",
            }
          })
      </article>
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "22/23 ГБОУ 1944 Баскетбол 3*3 Юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "Победный мяч юноши 2010-11 г",
            }
          })
      </article>
    </div>
  </li>
  <li class="thourney-table__column">
    <h4 class="thourney-table__column-title">Финал</h4>
    <div class="thourney-table__items">
      <article class="thourney-table__item">
        <time class="thourney-table__item-datetime" datetime="2023-04-18:15:00">18.04.2023 | 15:00</time>
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "4",
              "team": "баскетбол юноши 2010-2011",
            }
          })
        @@include("../card-link/card-link.html", {
          "href": "#0",
          card : {
              "class": "playoff",
              "points": "0",
              "team": "ШК ТАГАНКА БАСКЕТБОЛ Юноши 10-11",
            }
          })
      </article>
    </div>
  </li>
</ul>