@@if (title === 'Главная') {
<!-- Блок с новостями на Главной -->
<section class="page__section">
    <h2 class="page__title">Новости</h2>
    <ul class="page__card-deck">
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./detail-new.html",
                card : {
                    "class": "card card_style_image-background",
                    "title": "«Играли на своем максимуме». Бубнов оценил потенциал «Зенита» после матча с «Ахматом»",
                    "datetime": "01.04.2023 | 23:28",
                    "image": "https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/c6/56/0c2baacb1a3c6786d0e2658e316a09b664c016110affb881975017.jpg" }
                })
        </li>
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./detail-new.html",
                card : {
                    "class": "card card_style_image-background",
                    "title": "Вяльбе публично унизила лыжниц сборной России. Чего она добивается?",
                    "datetime": "25 июля 2023 | 18:58",
                    "image": "https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/7e/5e/79d59b191996ede84d98442fd4613cb064bfefb9a85c0334410935.jpg" }
                })
        </li>
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./detail-new.html",
                card : {
                    "class": "card card_style_image-background",
                    "title": "Овечкина оригинально поздравили с уникальным рекордом. Исполнили детскую мечту",
                    "datetime": "25 июля 2023 | 21:18",
                    "image": "https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/19/54/a936f17e6b63403a11796d9bb634861464c00ec266ceb774642653.jpg" }
                })
        </li>
    </ul>
    <a class="button" href="./news.html">БОЛЬШЕ НОВОСТЕЙ</a>
</section>
}
@@if (title === 'Медиа') {
<!-- Секция с новостями на странице Новости -->
<section class="page__section">
    @@include('../tabs/tabs.html', {
        'links': {
            'link': {
                'name': '',
                'href': '',
            }
        }
    })
</section>
}
