@import url(../vendor/globals.css);
@import url(../fonts/fonts.css);
@import url(../vendor/variables.css);
.select-field__list {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: visibility 0s 0.35s, opacity 0.35s;
}

.select-field_open .select-field__list {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.35s;
}

.select-field__field {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.team-card__rating, .team-card, .event-info-item, .sport-card, .rating-card, .player-card, .card_style_image-start, .card_style_image-background, .article__quote, .article__image, .page__card, .accordion, .tabs__item-link, .select-field__list, .select-field__field, .button {
  background-color: #fff;
  border-radius: 10px;
}

.team-card__rating, .page__title {
  font-size: var(--title-text-size);
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
}

.team-card__title, .event-info-item__text, .player-card__text, .player-card__title, .card__title, .footer__address, .article__quote-author, .article__quote, .article__content, .navigation__link {
  font-size: var(--main-text-size);
  font-weight: bold;
}

.sport-card__title, .rating-card__title, .player-card__sport-title, .tabs__item-link, .select-field__item, .select-field__field, .button {
  font-size: var(--main-text-size);
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.team-card__text, .event-info-item__title, .player-card__small-text, .card__datetime, .article__datetime {
  font-family: var(--condensed-font-family, sans-serif);
  font-size: var(--small-text-size);
  font-weight: bold;
  line-height: 1;
}

.chip-container__item {
  font-size: var(--small-text-size);
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.icon::before {
  content: "";
  background-color: #fff;
  display: block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.icon_type_home::before {
  -webkit-mask-image: url("../images/home.svg");
          mask-image: url("../images/home.svg");
}
.icon_type_flag::before {
  -webkit-mask-image: url("../images/flag.svg");
          mask-image: url("../images/flag.svg");
}
.icon_type_flag-variant::before {
  -webkit-mask-image: url("../images/flag-variant.svg");
          mask-image: url("../images/flag-variant.svg");
}
.icon_type_trophey::before {
  -webkit-mask-image: url("../images/trophy.svg");
          mask-image: url("../images/trophy.svg");
}
.icon_type_calendar::before {
  -webkit-mask-image: url("../images/calendar.svg");
          mask-image: url("../images/calendar.svg");
}
.icon_type_calendar-variant::before {
  -webkit-mask-image: url("../images/calendar-variant.svg");
          mask-image: url("../images/calendar-variant.svg");
}
.icon_type_star::before {
  -webkit-mask-image: url("../images/star.svg");
          mask-image: url("../images/star.svg");
}
.icon_type_video::before {
  -webkit-mask-image: url("../images/video.svg");
          mask-image: url("../images/video.svg");
}
.icon_type_location::before {
  -webkit-mask-image: url("../images/location.svg");
          mask-image: url("../images/location.svg");
}
.icon_type_info::before {
  -webkit-mask-image: url("../images/info.svg");
          mask-image: url("../images/info.svg");
}
.icon_type_metro::before {
  -webkit-mask-image: url("../images/metro.svg");
          mask-image: url("../images/metro.svg");
}
.icon_type_arrow-up::before {
  -webkit-mask-image: url("../images/arrow-up.svg");
          mask-image: url("../images/arrow-up.svg");
}
.icon_type_arrow-down::before, .select-field_open .select-field__icon::before {
  -webkit-mask-image: url("../images/arrow-down.svg");
          mask-image: url("../images/arrow-down.svg");
}
.icon_type_arrow-right::before {
  -webkit-mask-image: url("../images/arrow-right.svg");
          mask-image: url("../images/arrow-right.svg");
}
.icon_type_email::before {
  -webkit-mask-image: url("../images/email.svg");
          mask-image: url("../images/email.svg");
}
.icon_type_phone::before {
  -webkit-mask-image: url("../images/phone.svg");
          mask-image: url("../images/phone.svg");
}
.icon_type_document::before {
  -webkit-mask-image: url("../images/document.svg");
          mask-image: url("../images/document.svg");
}
.icon_type_plus::before {
  -webkit-mask-image: url("../images/plus.svg");
          mask-image: url("../images/plus.svg");
}
.icon_type_vk::before {
  -webkit-mask-image: url("../images/vk.svg");
          mask-image: url("../images/vk.svg");
}
.icon_type_site::before {
  -webkit-mask-image: url("../images/site.svg");
          mask-image: url("../images/site.svg");
}
.icon_type_tme::before {
  -webkit-mask-image: url("../images/tme.svg");
          mask-image: url("../images/tme.svg");
}

.sport-icon {
  position: relative;
}
.sport-icon::before, .sport-icon::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-size: contain;
  background-position: center;
  transition: opacity 0.35s ease-in;
}
.sport-icon_type_badminton::before {
  background-image: url(../images/badminton_theme_light.svg);
}
.sport-icon_type_badminton::after {
  background-image: url(../images/badminton_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_basketball::before {
  background-image: url(../images/basketball_theme_light.svg);
}
.sport-icon_type_basketball::after {
  background-image: url(../images/basketball_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_checkers::before {
  background-image: url(../images/checkers_theme_light.svg);
}
.sport-icon_type_checkers::after {
  background-image: url(../images/checkers_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_cheerleader::before {
  background-image: url(../images/cheerleader_theme_light.svg);
}
.sport-icon_type_cheerleader::after {
  background-image: url(../images/cheerleader_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_chess::before {
  background-image: url(../images/chess_theme_light.svg);
}
.sport-icon_type_chess::after {
  background-image: url(../images/chess_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_cybersport::before {
  background-image: url(../images/cybersport_theme_light.svg);
}
.sport-icon_type_cybersport::after {
  background-image: url(../images/cybersport_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_floorball::before {
  background-image: url(../images/floorball_theme_light.svg);
}
.sport-icon_type_floorball::after {
  background-image: url(../images/floorball_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_fitness::before {
  background-image: url(../images/fitness_theme_light.svg);
}
.sport-icon_type_fitness::after {
  background-image: url(../images/fitness_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_football::before {
  background-image: url(../images/football_theme_light.svg);
}
.sport-icon_type_football::after {
  background-image: url(../images/football_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_golf::before {
  background-image: url(../images/golf_theme_light.svg);
}
.sport-icon_type_golf::after {
  background-image: url(../images/golf_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_gto::before {
  background-image: url(../images/gto_theme_light.svg);
}
.sport-icon_type_gto::after {
  background-image: url(../images/gto_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_gymnastics::before {
  background-image: url(../images/gymnastics_theme_light.svg);
}
.sport-icon_type_gymnastics::after {
  background-image: url(../images/gymnastics_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_handball::before {
  background-image: url(../images/handball_theme_light.svg);
}
.sport-icon_type_handball::after {
  background-image: url(../images/handball_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_mini-football::before {
  background-image: url(../images/mini-football_theme_light.svg);
}
.sport-icon_type_mini-football::after {
  background-image: url(../images/mini-football_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_presidential-contests::before {
  background-image: url(../images/presidential-contests_theme_light.svg);
}
.sport-icon_type_presidential-contests::after {
  background-image: url(../images/presidential-contests_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_presidential-games::before {
  background-image: url(../images/presidential-games_theme_light.svg);
}
.sport-icon_type_presidential-games::after {
  background-image: url(../images/presidential-games_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_primary-school::before {
  background-image: url(../images/primary-school_theme_light.svg);
}
.sport-icon_type_primary-school::after {
  background-image: url(../images/primary-school_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_rugby::before {
  background-image: url(../images/rugby_theme_light.svg);
}
.sport-icon_type_rugby::after {
  background-image: url(../images/rugby_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_single-combat::before {
  background-image: url(../images/single-combat_theme_light.svg);
}
.sport-icon_type_single-combat::after {
  background-image: url(../images/single-combat_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_spartakiad-hope::before {
  background-image: url(../images/spartakiad-hope_theme_light.svg);
}
.sport-icon_type_spartakiad-hope::after {
  background-image: url(../images/spartakiad-hope_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_spartakiad-invasport::before {
  background-image: url(../images/spartakiad-invasport_theme_light.svg);
}
.sport-icon_type_spartakiad-invasport::after {
  background-image: url(../images/spartakiad-invasport_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_sport-activities::before {
  background-image: url(../images/sport-activities_theme_light.svg);
}
.sport-icon_type_sport-activities::after {
  background-image: url(../images/sport-activities_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_sport-dance::before {
  background-image: url(../images/sport-dance_theme_light.svg);
}
.sport-icon_type_sport-dance::after {
  background-image: url(../images/sport-dance_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_swimming::before {
  background-image: url(../images/swimming_theme_light.svg);
}
.sport-icon_type_swimming::after {
  background-image: url(../images/swimming_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_table-tennis::before {
  background-image: url(../images/table-tennis_theme_light.svg);
}
.sport-icon_type_table-tennis::after {
  background-image: url(../images/table-tennis_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_volleyball::before {
  background-image: url(../images/volleyball_theme_light.svg);
}
.sport-icon_type_volleyball::after {
  background-image: url(../images/volleyball_theme_dark.svg);
  opacity: 0;
}
.sport-icon_type_winter-sport::before {
  background-image: url(../images/winter-sport_theme_light.svg);
}
.sport-icon_type_winter-sport::after {
  background-image: url(../images/winter-sport_theme_dark.svg);
  opacity: 0;
}
.sport-icon_theme_dark::before, .sport-card:hover .sport-card__sport-icon::before {
  opacity: 0;
}
.sport-icon_theme_dark::after, .sport-card:hover .sport-card__sport-icon::after {
  opacity: 1;
}

.button {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  min-block-size: 35px;
  padding: 8px 20px;
  text-align: center;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
}
.button:hover {
  background-color: var(--main-color);
  color: #fff;
}
.button_size_small {
  font-size: var(--small-text-size);
}
.button_theme_grey {
  background-color: var(--grey-color);
}

.card-link {
  display: block;
  text-decoration: none;
}

.select-field {
  position: relative;
  border-radius: 10px;
}
.select-field_open {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.select-field_open .select-field__field {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--main-color);
  color: #fff;
}
.select-field_open .select-field__icon::before {
  background-color: #fff;
}
.select-field_open .select-field__list {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.select-field__select {
  display: none;
}
.select-field__field {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.select-field__field:hover {
  opacity: 0.75;
}
.select-field__icon {
  min-inline-size: 20px;
  max-inline-size: 20px;
  cursor: inherit;
}
.select-field__icon::before {
  inline-size: 20px;
  block-size: 20px;
  background-color: var(--main-text-color);
  -webkit-mask-size: 60%;
          mask-size: 60%;
}
.select-field__icon:active {
  transform: translateY(1px);
}
.select-field__list {
  position: absolute;
  z-index: 1;
  inset-inline: 0;
  inset-block-start: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20em;
}
.select-field__item {
  cursor: default;
  padding: 10px;
}
.select-field__item:hover {
  background-color: var(--main-color);
  color: #fff;
}

.scrolling-wrapper {
  padding-block-end: 25px;
  display: flex;
  width: 100%;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: 15px;
  scrollbar-color: var(--main-color);
  scroll-snap-type: x mandatory;
}
.scrolling-wrapper::-webkit-scrollbar {
  width: 15px;
}
.scrolling-wrapper::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
.scrolling-wrapper > * {
  flex: 0 0 100%;
  min-inline-size: 100%;
  max-inline-size: 100%;
}
@media only screen and (width >= 576px) {
  .scrolling-wrapper > * {
    flex: 0 0 calc((100% - 15px) / 2);
    min-inline-size: calc((100% - 15px) / 2);
    max-inline-size: calc((100% - 15px) / 2);
  }
}
@media only screen and (width >= 1024px) {
  .scrolling-wrapper > * {
    flex: 0 0 calc((100% - 30px) / 3);
    min-inline-size: calc((100% - 30px) / 3);
    max-inline-size: calc((100% - 30px) / 3);
  }
}

.chip-container {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.chip-container__item {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: start;
  gap: 15px;
  padding: 8px 10px;
  background-color: var(--main-color);
  border-radius: 10px;
}
.chip-container__icon {
  flex: none;
  min-inline-size: 15px;
  max-inline-size: 15px;
  block-size: 15px;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tabs__list {
  display: flex;
  gap: 15px;
}
.tabs__item-link {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  min-block-size: 35px;
  padding: 8px 20px;
  text-align: center;
  transition: background-color 0.25s ease-in, color 0.25s ease-in, opacity 0.25s ease-in;
}
.tabs__item-link_active {
  background-color: var(--main-color);
  color: #fff;
}
.tabs__item-link_active .tabs__item-icon::before {
  background-color: #fff;
}
.tabs__item-link:hover {
  opacity: 0.75;
}
.tabs__item-icon::before {
  inline-size: 20px;
  block-size: 20px;
  background-color: var(--main-text-color);
}

.accordion_open .accordion__caption {
  border-color: var(--grey-color);
}
.accordion_open .accordion__button {
  background-color: var(--main-color);
}
.accordion_open .accordion__button::before {
  -webkit-mask-image: url(../images/arrow-up.svg);
          mask-image: url(../images/arrow-up.svg);
  background-color: #fff;
  -webkit-mask-size: 40%;
          mask-size: 40%;
}
.accordion_open .accordion__container {
  display: block;
  opacity: 1;
}
.accordion__caption {
  border-radius: 10px;
  border-bottom: 2px solid #fff;
  transition: border-color 0.25s ease-in;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
}
.accordion__button {
  flex: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: var(--grey-color);
  border-radius: 50%;
  inline-size: clamp(36px, 5vi, 50px);
  block-size: clamp(36px, 5vi, 50px);
  padding: 0;
  margin-block-start: 8px;
  cursor: pointer;
  transition: opacity 0.25s ease-in;
}
.accordion__button::before {
  inline-size: clamp(36px, 5vi, 50px);
  block-size: clamp(36px, 5vi, 50px);
  background-color: var(--main-color);
  -webkit-mask-size: 50%;
          mask-size: 50%;
}
.accordion__button:hover {
  opacity: 0.75;
}
.accordion__button:active {
  transform: translateY(1px);
}
.accordion__container {
  padding: 15px;
  display: none;
  opacity: 0;
  transition: opacity 0.35s ease-in;
}

.form_type_page-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.page {
  min-block-size: 100vb;
  display: grid;
  grid-template-rows: 1fr auto;
}
@supports (block-size: 100dvb) {
  .page {
    block-size: 100dvb;
  }
}
@media only screen and (width >= 1024px) {
  .page {
    grid-template-columns: auto 1fr;
  }
}
@media only screen and (width >= 1024px) {
  .page__header {
    padding-inline-start: max(10px, (100vi - var(--content-inline-size)) / 2);
  }
}
.page__content {
  min-inline-size: 0;
  padding: 25px 15px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
@media only screen and (width >= 1024px) {
  .page__content {
    padding-inline-end: max(15px, (100vi - var(--content-inline-size)) / 2);
    padding-block-end: 100px;
  }
}
.page__card-deck {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(min(17em, 100%), 1fr));
}
.page__card-deck_size_small {
  grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
}
.page__card-deck_size_large {
  grid-template-columns: repeat(auto-fill, minmax(min(25em, 100%), 1fr));
}
.page__card-deck_size_exlarge {
  grid-template-columns: repeat(auto-fill, minmax(min(40em, 100%), 1fr));
}
.page__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.page__card {
  padding: 15px 20px;
}
@media only screen and (width >= 1024px) {
  .page__footer {
    grid-column: 1/-1;
  }
}

.header {
  background-color: var(--main-color);
}
@media only screen and (width < 1024px) {
  .header {
    background-color: transparent;
    position: fixed;
    inset: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    transition: visibility 0s 0.35s, opacity 0.35s;
  }
  .header_open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.35s;
    background-color: rgba(0, 0, 0, 0.54);
  }
  .header_open .header__wrapper {
    transform: translateX(0%);
  }
}
.header__wrapper {
  position: sticky;
  inset-block-start: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 10px;
}
@media only screen and (width < 1024px) {
  .header__wrapper {
    position: fixed;
    inset-inline-start: 0;
    inset-block-end: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.35s ease-in;
  }
}
.header__navigation {
  flex: auto;
  padding-bottom: 20px;
}
.header__logo {
  margin: 10px;
}
.header__logo img {
  display: block;
  inline-size: 230px;
  block-size: 71px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigation__link {
  padding: 10px;
  display: flex;
  gap: 20px;
  text-decoration: none;
  transition: background-color 0.25s ease-in, color 0.25s ease-in;
  color: #fff;
  border-radius: 10px;
}
.navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.26);
}
.navigation__link_active {
  background-color: #ffffff;
  color: var(--main-color);
}
.navigation__link_active .navigation__icon::before {
  background-color: var(--main-color);
}
.navigation__icon {
  flex: none;
  min-inline-size: 24px;
  max-inline-size: 24px;
}
.navigation__icon::before {
  inline-size: 24px;
  block-size: 24px;
}
.navigation__menu-btn {
  display: none;
}
.navigation__login-button {
  min-block-size: 46px;
  border-radius: 60px;
  padding: 13px 26px;
  margin: auto 10px 0;
}
.navigation__login-button:hover {
  outline: 1px solid #fff;
}
@media only screen and (width >= 1024px) {
  .navigation__login-button {
    margin-block-start: clamp(40px, 10vb, 100px);
  }
}

.social-group {
  display: flex;
  gap: var(--main-gap);
}
.social-group_place_header {
  justify-content: center;
  padding: 20px 10px;
}
.social-group_place_header li {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
}
.social-group_place_header .social-group__link::before {
  -webkit-mask-size: 70%;
          mask-size: 70%;
  background-color: var(--main-color);
}
.social-group__link {
  display: block;
  text-decoration: none;
  transition: opacity 0.25s ease-in;
  cursor: pointer;
}
.social-group__link:hover {
  opacity: 0.75;
}
.social-group__link::before {
  inline-size: clamp(36px, 5vi, 50px);
  block-size: clamp(36px, 5vi, 50px);
}

@media only screen and (width >= 1024px) {
  .content-header {
    display: none;
  }
}
.content-header__btn {
  margin-left: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  display: flex;
  inline-size: 40px;
  block-size: 40px;
  cursor: pointer;
  transition: opacity 0.25s ease-in;
}
.content-header__btn:hover {
  opacity: 0.75;
}
.content-header__btn span {
  margin: auto;
  position: relative;
  inline-size: 100%;
  block-size: 3px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease;
}
.content-header__btn span:before, .content-header__btn span::after {
  content: "";
  position: absolute;
  inset-block-start: -10px;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
}
.content-header__btn span::before {
  inset-block-start: 10px;
}
.content-header__btn_active:hover > span {
  transform: rotate(225deg);
}
.content-header__btn_active span {
  background-color: var(--main-color);
  transform: rotate(45deg);
}
.content-header__btn_active span::before, .content-header__btn_active span::after {
  inset-block-start: 0;
  transform: rotate(90deg);
}

.main-banner {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 8/5;
  background: repeat-x center 55%/120% url(../images/main-banner.jpg);
}
@media only screen and (width >= 480px) {
  .main-banner {
    aspect-ratio: 8/2.5;
    background-size: 70%;
    background-position: -15% 27%;
  }
}
@media only screen and (width >= 768px) {
  .main-banner {
    aspect-ratio: 8.85/1.63;
  }
}
.main-banner::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background: no-repeat center 90%/55% url(../images/logo.svg), linear-gradient(to top, #fff 35%, rgba(255, 255, 255, 0) 55%);
}
@media only screen and (width >= 480px) {
  .main-banner::before {
    background: no-repeat 95% center/30% url(../images/logo.svg), linear-gradient(to left, #fff 35%, rgba(255, 255, 255, 0) 55%);
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.article__image {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.article__quote {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--grey-color);
}
.footer {
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: var(--main-gap) 20px;
}
.footer__wrapper {
  max-inline-size: var(--content-inline-size);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--main-gap);
}
@media only screen and (width < 576px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__link {
  display: flex;
  align-items: center;
  gap: var(--main-gap);
  max-inline-size: -moz-max-content;
  max-inline-size: max-content;
  text-decoration: none;
  transition: opacity 0.25s ease-in;
  cursor: pointer;
}
.footer__link:hover {
  opacity: 0.75;
}
.footer__icon {
  flex: none;
  min-inline-size: clamp(24px, 5vi, 50px);
  max-inline-size: clamp(24px, 5vi, 50px);
}
.footer__icon::before {
  inline-size: clamp(24px, 5vi, 50px);
  block-size: clamp(24px, 5vi, 50px);
}

@media only screen and (width >= 576px) {
  .events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }
}
.events-container__list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
}
.events-container__list:not(:only-child):first-child {
  padding-block-end: 20px;
  border-block-end: 1px solid var(--grey-color);
}
@media only screen and (width >= 576px) {
  .events-container__list:not(:only-child):first-child:not(:only-child):first-child {
    padding: 0;
    border: none;
    padding-inline-end: 20px;
    border-inline-end: 1px solid var(--grey-color);
  }
}
.events-container__list:not(:only-child, :first-child) {
  padding-block-start: 20px;
  border-block-start: 1px solid var(--grey-color);
}
@media only screen and (width >= 576px) {
  .events-container__list:not(:only-child, :first-child):not(:only-child, :first-child) {
    padding: 0;
    border: none;
    padding-inline-start: 20px;
    border-inline-start: 1px solid var(--grey-color);
  }
}

.calendar-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 25px;
}
.calendar-container__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 376px;
  padding-inline-end: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 15px;
  scrollbar-color: var(--main-color);
  scroll-snap-type: x mandatory;
}
.calendar-container__list::-webkit-scrollbar {
  width: 15px;
}
.calendar-container__list::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
.calendar-container__list::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_style_image-background {
  position: relative;
  z-index: 1;
  color: #fff;
  aspect-ratio: 285/161;
  overflow: hidden;
  padding: 15px;
  justify-content: end;
}
.card_style_image-background::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  block-size: 100%;
  inline-size: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.card_style_image-background .card__image {
  position: absolute;
  inset: 0;
  z-index: -2;
}
.card_style_image-start {
  transition: 0.35s ease-in;
}
.card_style_image-start:hover {
  background-color: var(--main-color);
  color: #fff;
}
@media only screen and (width >= 480px) {
  .card_style_image-start {
    flex-direction: row;
  }
}
.card_style_image-start .card__image {
  block-size: initial;
  aspect-ratio: 290/177;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media only screen and (width >= 480px) {
  .card_style_image-start .card__image {
    max-width: 50%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    flex-basis: 32.7683615819%;
  }
}
.card_style_image-start .card__content {
  padding: 20px 20px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
@media only screen and (width < 480px) {
  .card_style_image-start .card__content {
    padding-block-start: 0;
    padding-inline-start: 20px;
  }
}
.card_style_image-start .card__title {
  max-height: 6em;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__image {
  block-size: 100%;
  inline-size: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  max-height: 3em;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.player-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px;
}
.player-card__title-block {
  display: flex;
  gap: 20px;
}
.player-card__sport-title {
  flex: auto;
}
.player-card__sport-icon {
  flex: none;
  display: block;
  inline-size: 20px;
  block-size: 20px;
}
.player-card__columns {
  display: flex;
  gap: 20px;
}
.player-card__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.player-card__image {
  display: block;
  inline-size: 70px;
  block-size: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.player-card__title {
  color: var(--main-color);
}
.rating-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rating-card__title-block {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating-card__icon {
  flex: none;
  min-inline-size: 40px;
  max-inline-size: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.rating-card__icon::before {
  background-color: #fff;
  inline-size: 40px;
  block-size: 40px;
  -webkit-mask-size: 70%;
          mask-size: 70%;
}
.rating-card__title {
  text-align: right;
  flex: auto;
}
.rating-card__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sport-card {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.35s ease-in, color 0.35s ease-in;
}
.sport-card:hover {
  background-color: var(--main-color);
  color: #fff;
}
.sport-card_place_calendar {
  padding: 10px;
}
.sport-card_place_calendar .sport-card__sport-icon {
  inline-size: 30px;
  block-size: 30px;
}
.sport-card__title {
  flex: auto;
  color: currentColor;
}
.sport-card__sport-icon {
  flex: none;
  inline-size: 50px;
  block-size: 50px;
}

.event-card {
  display: flex;
  align-items: start;
  gap: 20px;
}
.event-card__icon {
  display: none;
}
@media only screen and (width >= 576px) {
  .event-card__icon {
    display: initial;
    flex: none;
    min-inline-size: 66px;
    max-inline-size: 66px;
    border-radius: 10px;
    background-color: var(--main-color);
  }
  .event-card__icon::before {
    background-color: #fff;
    inline-size: 66px;
    block-size: 66px;
    -webkit-mask-size: 50%;
            mask-size: 50%;
  }
}
.event-card__content {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.event-card__title {
  font-family: var(--expand-font-family, sans-serif);
  font-size: var(--main-text-size);
  font-weight: bold;
  line-height: 1;
}

.event-info-item {
  background-color: var(--grey-color);
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
}
@media only screen and (width < 480px) {
  .event-info-item {
    flex-wrap: wrap;
  }
}
.event-info-item__icon {
  flex: none;
  min-inline-size: 20px;
  max-inline-size: 20px;
}
.event-info-item__icon::before {
  inline-size: 20px;
  block-size: 20px;
  background-color: var(--main-color);
}
.event-info-item__title {
  flex: auto;
}
.team-card {
  background-color: var(--main-color);
  padding: 15px;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-auto-flow: dense;
  gap: 15px;
}
.team-card_content_rating {
  grid-template-columns: auto 1fr auto;
}
.team-card_content_rating .team-card__rating {
  grid-area: 1/3/2/4;
}
.team-card_place_rating .team-card__image {
  grid-area: 1/1/2/2;
}
.team-card_place_rating .team-card__rating {
  grid-area: 1/1/2/2;
  align-self: end;
  justify-self: center;
  border-radius: 50%;
  inline-size: 16px;
  block-size: 16px;
  font-size: var(--small-text-size);
}
.team-card_type_reverse {
  grid-template-columns: 1fr auto;
  text-align: right;
}
.team-card_type_reverse .team-card__image {
  order: 1;
}
.team-card__image {
  min-inline-size: 50px;
  max-inline-size: 50px;
  inline-size: 50px;
  block-size: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.team-card__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  inline-size: clamp(36px, 6vi, 60px);
  block-size: clamp(36px, 6vi, 60px);
  color: var(--main-text-color);
}
.team-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.team-card__title {
  font-weight: 800;
}
.team-card__text {
  opacity: 0.5;
}

.gallery-item {
  inline-size: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background-color: var(--main-color);
}

.item-full-row {
  grid-column: 1/-1;
}