.button {
    display: block;
    appearance: none;
    text-decoration: none;
    border: none;
    min-block-size: 35px;
    padding: 8px 20px;
    text-align: center;
    font-size: var(--main-text-size);
    font-style: italic;
    font-weight: 800;
    line-height: 1;
    background-color: #fff;
    border-radius: 10px;
    transition: background-color 0.25s ease-in, color 0.25s ease-in, opacity 0.25s ease-in;
    cursor: pointer;

    &_size_small {
        font-size: var(--small-text-size);
    }

    &_theme_grey {
        background-color: var(--grey-color);
    }

    &_theme_main {
        background-color: var(--main-color);
        color: #fff;
        border-color: var(--main-color);

        &:hover {
            opacity: 0.75;
        }
    }

    &:hover {
        background-color: var(--main-color);
        color: #fff;
    }
}
