<article class="player-card">
    <div class="player-card__title-block">
        <h2 class="player-card__sport-title">@@title</h2>
        <span class="player-card__sport-icon sport-icon sport-icon_type_@@icon"></span>
    </div>
    <div class="player-card__columns">
        <img class="player-card__image" src="@@image" alt="@@name" />
        <div class="player-card__column">
            <h3 class="player-card__title">@@name</h3>
            <p class="player-card__text">@@team</p>
            <p class="player-card__small-text">@@school</p>
        </div>
    </div>
</article>
