@import "../vendor/mixins.scss";

.content-header {
    @include media(lg) {
        display: none;
    }
    &__btn {
        margin-left: auto;

        appearance: none;
        border: none;
        background-color: transparent;
        display: flex;
        inline-size: 40px;
        block-size: 40px;
        cursor: pointer;
        transition: opacity 0.25s ease-in;

        &:hover {
            opacity: 0.75;
        }

        span {
            margin: auto;
            position: relative;
            inline-size: 100%;
            block-size: 3px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            transition: all 0.25s ease;

            &:before,
            &::after {
                content: "";
                position: absolute;
                inset-block-start: -10px;
                width: 100%;
                height: inherit;
                border-radius: inherit;
                background-color: inherit;
            }
            &::before {
                inset-block-start: 10px;
            }
        }

        &_active {
            &:hover > span {
                transform: rotate(225deg);
            }

            span {
                background-color: var(--main-color);
                transform: rotate(45deg);

                &::before,
                &::after {
                    inset-block-start: 0;
                    transform: rotate(90deg);
                }
            }
        }
    }
}
