@import "../vendor/mixins.scss";

.header {
    background-color: var(--main-color);
    display: flex;
    @include media(lg, max) {
        background-color: transparent;
        position: fixed;
        inset: 0;
        z-index: 1000;

        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: visibility 0s 0.35s, opacity 0.35s;

        &_open {
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            transition: visibility 0s, opacity 0.35s;
            background-color: rgba(0, 0, 0, 0.54);

            .header__wrapper {
                transform: translateX(0%);
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: var(--main-color);
        padding: 10px;
        @include media(lg, max) {
            position: fixed;
            inset-inline-start: 0;
            inset-block-start: 0;
            inset-block-end: 0;
            z-index: 1000;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
            transform: translateX(-100%);
            transition: transform 0.35s;
        }
    }
    &__navigation {
        flex: auto;
        padding-bottom: 20px;
    }
    &__logo {
        margin: 10px;
        & img {
            display: block;
            inline-size: 230px;
            block-size: 71px;
            object-fit: contain;
            object-position: center;
        }
    }
}
