.icon {
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  &_type_home {
      mask-image: url("../images/home.svg");
  }
  &_type_flag {
      mask-image: url("../images/flag.svg");
  }
  &_type_trophey {
      mask-image: url("../images/trophy.svg");
  }
  &_type_calendar {
      mask-image: url("../images/calendar.svg");
  }
  &_type_star {
      mask-image: url("../images/star.svg");
  }
  &_type_video {
      mask-image: url("../images/video.svg");
  }
  &_type_location {
      mask-image: url("../images/location.svg");
  }
  &_type_metro {
      mask-image: url("../images/metro.svg");
  }
  &_type_vk {
      mask-image: url("../images/vk.svg");
  }
  &_type_site {
      mask-image: url("../images/site.svg");
  }
  &_type_tme {
      mask-image: url("../images/tme.svg");
  }
}