@import "../vendor/mixins.scss";

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__link {
        padding: 10px;
        display: flex;
        gap: 20px;
        text-decoration: none;
        transition: background-color 0.25s ease-in, color 0.25s ease-in;
        color: #fff;
        border-radius: 10px;
        font-family: var(--expand-font-family, sans-serif);
        font-size: var(--main-text-size);
        font-weight: bold;

        &:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }

        &_active {
            background-color: #ffffff;
            color: var(--main-color);

            .navigation__icon::before {
                background-color: var(--main-color);
            }
        }
    }
    &__icon::before {
        inline-size: 24px;
        block-size: 24px;
    }
    &__menu-btn {
        display: none;
    }
    &__login-button {
        min-block-size: 46px;
        border-radius: 60px;
        padding: 13px 26px;
        margin: auto 10px 0;

        &:hover {
            outline: 1px solid #fff;
        }

        @include media(lg) {
            margin-block-start: clamp(40px, 10vb, 100px);
        }
    }
}
