@import "../vendor/mixins.scss";

.page {
    min-block-size: 100vb;
    display: grid;
    grid-template-rows: 1fr auto;

    @supports (block-size: 100dvb) {
        block-size: 100dvb;
    }

    @include media(lg) {
        grid-template-columns: auto 1fr;
    }

    &__header {
        @include media(lg) {
            padding-inline-start: max(10px, calc((100vi - var(--content-inline-size)) / 2));
        }
    }

    &__content {
        min-inline-size: 0;
        padding: 25px 15px;
        display: flex;
        gap: 25px;
        flex-direction: column;

        @include media(lg) {
            padding-inline-end: max(15px, calc((100vi - var(--content-inline-size)) / 2));
            padding-block-end: 100px;
        }
    }
    &__title {
        flex: auto;
        font-family: var(--expand-font-family, sans-serif);
        font-size: 30px;
        line-height: 1;
        font-weight: 800;
        text-transform: uppercase;
    }
    &__card-deck {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(min(17em, 100%), 1fr));

        &_size_small {
            grid-template-columns: repeat(auto-fill, minmax(min(10em, 100%), 1fr));
        }
        &_size_exlarge {
            grid-template-columns: repeat(auto-fill, minmax(min(40em, 100%), 1fr));
        }
    }
    &__section {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 15px;

        padding: 15px 20px;
        border-radius: 10px;
        background-color: #fff;
    }

    &__footer {
        @include media(lg) {
            grid-column: 1/-1;
        }
    }
}
