@import "../vendor/mixins.scss";

.page {
    min-block-size: 100vb;
    display: grid;
    grid-template-rows: 1fr auto;

    @supports (block-size: 100dvb) {
        block-size: 100dvb;
    }

    @include media(lg) {
        grid-template-columns: auto 1fr;
    }

    &__header {
        @include media(lg) {
            padding-left: max(10px, calc((100vi - var(--content-inline-size)) / 2));
        }
    }

    &__content {
        padding: 25px 15px;
        display: flex;
        gap: 25px;
        flex-direction: column;

        @include media(lg) {
            padding-right: max(15px, calc((100vi - var(--content-inline-size)) / 2));
        }
    }

    &__footer {
        @include media(lg) {
            grid-column: 1/-1;
        }
    }
}
