.social-group {
    display: flex;
    gap: var(--main-gap);

    &_place_header {
        justify-content: center;
        color: var(--main-color);
        padding: 20px 10px;

        li {
            display: flex;
            background-color: #fff;
            border-radius: 50%;
        }

        .social-group__link {
            mask-size: 70%;
        }
    }

    // &_place_footer {}

    &__link {
        display: block;
        inline-size: clamp(36px, 5vi, 50px);
        block-size: clamp(36px, 5vi, 50px);
        text-decoration: none;
        transition: 0.25s ease-in;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}
