.sport-icon {
    background-size: contain;
    background-position: center;
    &_type {
        &_badminton {
            background-image: url(../images/badminton_theme_light.svg);
        }
        &_basketball {
            background-image: url(../images/basketball_theme_light.svg);
        }
        &_checkers {
            background-image: url(../images/checkers_theme_light.svg);
        }
        &_cheerleader {
            background-image: url(../images/cheerleader_theme_light.svg);
        }
        &_chess {
            background-image: url(../images/chess_theme_light.svg);
        }
        &_cybersport {
            background-image: url(../images/cybersport_theme_light.svg);
        }
        &_floorball {
            background-image: url(../images/fitness_theme_light.svg);
        }
        &_fitness {
            background-image: url(../images/floorball_theme_light.svg);
        }
        &_football {
            background-image: url(../images/football_theme_light.svg);
        }
        &_golf {
            background-image: url(../images/golf_theme_light.svg);
        }
        &_gto {
            background-image: url(../images/gto_theme_light.svg);
        }
        &_gymnastics {
            background-image: url(../images/gymnastics_theme_light.svg);
        }
        &_handball {
            background-image: url(../images/handball_theme_light.svg);
        }
        &_mini-football {
            background-image: url(../images/mini-football_theme_light.svg);
        }
        &_presidential-contests {
            background-image: url(../images/presidential-contests_theme_light.svg);
        }
        &_presidential-games {
            background-image: url(../images/presidential-games_theme_light.svg);
        }
        &_primary-school {
            background-image: url(../images/primary-school_theme_light.svg);
        }
        &_rugby {
            background-image: url(../images/rugby_theme_light.svg);
        }
        &_single-combat {
            background-image: url(../images/single-combat_theme_light.svg);
        }
        &_spartakiad-hope {
            background-image: url(../images/spartakiad-hope_theme_light.svg);
        }
        &_spartakiad-invasport {
            background-image: url(../images/spartakiad-invasport_theme_light.svg);
        }
        &_sport-activities {
            background-image: url(../images/sport-activities_theme_light.svg);
        }
        &_sport-dance {
            background-image: url(../images/sport-dance_theme_light.svg);
        }
        &_swimming {
            background-image: url(../images/swimming_theme_light.svg);
        }
        &_table-tennis {
            background-image: url(../images/table-tennis_theme_light.svg);
        }
        &_volleyball {
            background-image: url(../images/volleyball_theme_light.svg);
        }
        &_winter-sport {
            background-image: url(../images/winter-sport_theme_light.svg);
        }
    }

    &_theme_dark {
        &_type {
            &_badminton {
                background-image: url(../images/badminton_theme_dark.svg);
            }
            &_basketball {
                background-image: url(../images/basketball_theme_dark.svg);
            }
            &_checkers {
                background-image: url(../images/checkers_theme_dark.svg);
            }
            &_cheerleader {
                background-image: url(../images/cheerleader_theme_dark.svg);
            }
            &_chess {
                background-image: url(../images/chess_theme_dark.svg);
            }
            &_cybersport {
                background-image: url(../images/cybersport_theme_dark.svg);
            }
            &_floorball {
                background-image: url(../images/fitness_theme_dark.svg);
            }
            &_fitness {
                background-image: url(../images/floorball_theme_dark.svg);
            }
            &_football {
                background-image: url(../images/football_theme_dark.svg);
            }
            &_golf {
                background-image: url(../images/golf_theme_dark.svg);
            }
            &_gto {
                background-image: url(../images/gto_theme_dark.svg);
            }
            &_gymnastics {
                background-image: url(../images/gymnastics_theme_dark.svg);
            }
            &_handball {
                background-image: url(../images/handball_theme_dark.svg);
            }
            &_mini-football {
                background-image: url(../images/mini-football_theme_dark.svg);
            }
            &_presidential-contests {
                background-image: url(../images/presidential-contests_theme_dark.svg);
            }
            &_presidential-games {
                background-image: url(../images/presidential-games_theme_dark.svg);
            }
            &_primary-school {
                background-image: url(../images/primary-school_theme_dark.svg);
            }
            &_rugby {
                background-image: url(../images/rugby_theme_dark.svg);
            }
            &_single-combat {
                background-image: url(../images/single-combat_theme_dark.svg);
            }
            &_spartakiad-hope {
                background-image: url(../images/spartakiad-hope_theme_dark.svg);
            }
            &_spartakiad-invasport {
                background-image: url(../images/spartakiad-invasport_theme_dark.svg);
            }
            &_sport-activities {
                background-image: url(../images/sport-activities_theme_dark.svg);
            }
            &_sport-dance {
                background-image: url(../images/sport-dance_theme_dark.svg);
            }
            &_swimming {
                background-image: url(../images/swimming_theme_dark.svg);
            }
            &_table-tennis {
                background-image: url(../images/table-tennis_theme_dark.svg);
            }
            &_volleyball {
                background-image: url(../images/volleyball_theme_dark.svg);
            }
            &_winter-sport {
                background-image: url(../images/winter-sport_theme_dark.svg);
            }
        }
    }
}