<div class="tabs">
  <ul class="tabs__list">
      <li class="tabs__item">
          <a class="tabs__item-link tabs__item-link_active" href="./news.html">Новости</a>
      </li>
      <li class="tabs__item">
          <a class="tabs__item-link" href="./video.html">Видео</a>
      </li>
      <li class="tabs__item">
          <a class="tabs__item-link" href="./broadcast.html">Трансляции</a>
      </li>
      <li class="tabs__item">
          <a class="tabs__item-link" href="./gallery.html">Фото</a>
      </li>
  </ul>
  <div class="tabs__container">
      <ul class="page__card-deck page__card-deck_size_exlarge">
          <li>
              <a class="card-link" href="./detail-new.html">
                  <article class="card card_style_image-start">
                      <img
                          class="card__image"
                          src="./images/news-card__image.png"
                          alt="Изображение новости"
                      />
                      <div class="card__content">
                          <h2 class="card__title">
                              Футбольные правила в последние годы активно эволюционируют, но
                              основные положения остаются относительно неприкосновенными
                          </h2>
                          <p class="card__datetime">01.04.2023 | 15:00</p>
                      </div>
                  </article>
              </a>
          </li>
          <li>
              <a class="card-link" href="./detail-new.html">
                  <article class="card card_style_image-start">
                      <img
                          class="card__image"
                          src="https://chekhov.mosreg.ru/files/image/65/95/83/lg!0d9i.jpeg"
                          alt="Изображение новости"
                      />
                      <div class="card__content">
                          <h2 class="card__title">
                              Футбольные правила в последние годы активно эволюционируют, но
                              основные положения остаются относительно неприкосновенными
                          </h2>
                          <p class="card__datetime">01.04.2023 | 15:00</p>
                      </div>
                  </article>
              </a>
          </li>
          <li>
              <a class="card-link" href="./detail-new.html">
                  <article class="card card_style_image-start">
                      <img
                          class="card__image"
                          src="https://r1.mt.ru/r17/photoE791/20852960725-0/jpg/bp.jpeg"
                          alt="Изображение новости"
                      />
                      <div class="card__content">
                          <h2 class="card__title">
                              Футбольные правила в последние годы активно эволюционируют, но
                              основные положения остаются относительно неприкосновенными
                          </h2>
                          <p class="card__datetime">01.04.2023 | 15:00</p>
                      </div>
                  </article>
              </a>
          </li>
      </ul>
  </div>
  <a class="button" href="#0">ЗАГРУЗИТЬ ЕЩЁ</a>
</div>