<div class="tabs">
    <ul class="tabs__list">
        <li class="tabs__item">
            <a class="tabs__item-link tabs__item-link_active" href="#0">Текущие</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__item-link" href="#0">Прошедшие</a>
        </li>
    </ul>
    <div class="tabs__container">
        <div class="page__card-deck page__card-deck_size_exlarge">
            @@include("../accordion/accordion-events.html")
            @@include("../accordion/accordion-events.html")
            @@include("../accordion/accordion-events.html")
        </div>
    </div>
</div>
