.calendar-container {
    display: grid;
    grid-template-columns: .75fr 1fr;
    gap: 25px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        max-height: 376px;
        padding-inline-end: 15px;

        overflow-y: scroll;
        overflow-x: hidden;

        @include scroll-bar();
        scroll-snap-type: x mandatory;
    }
    &__calendar {
    }
}
