.chip-container {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    &__item {
        text-decoration: none;
        @extend %small-italic-text;
        color: #fff;

        display: flex;
        align-items: start;
        gap: 15px;
        padding: 8px 10px;
        background-color: var(--main-color);
        border-radius: 10px;
    }

    &__icon {
        flex: none;
        min-inline-size: 15px;
        max-inline-size: 15px;
        block-size: 15px;
    }
}
