.main-banner {
    position: relative;
    inline-size: 100%;
    aspect-ratio: 8/5;
    background: repeat-x 10% 75% / 160% url(../images/main-banner.png);

    @include media(xs) {
        aspect-ratio: 8/2.5;
        background-size: 80%;
        background-position: 10% 52%;
    }

    @include media(md) {
        aspect-ratio: 8.85/1.63;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        background: no-repeat center 90% / 55% url(../images/logo.svg), linear-gradient(to top, #fff 35%, #ffffff00 55%);

        @include media(xs) {
            background: no-repeat 95% center / 30% url(../images/logo.svg),
                linear-gradient(to left, #fff 35%, #ffffff00 55%);
        }
    }
}
