.new-card {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 15px;
    aspect-ratio: 285/161;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        block-size: 100%;
        inline-size: 100%;
        background-image: linear-gradient(to bottom, #00000000 0%, #000 100%);
    }
    &__image {
        position: absolute;
        inset: 0;
        z-index: -2;
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
    }
    &__title {
        @extend %main-text;
        @include clamp(2);
    }
    &__datetime {
        @extend %small-caption-text;
    }
}
