.sport-card {
    @extend %card-style;
    padding: 15px;

    display: flex;
    align-items: center;
    gap: 20px;

    transition: background-color 0.35s ease-in, color 0.35s ease-in;

    &:hover {
        background-color: var(--main-color);
        color: #fff;

        .sport-card__sport-icon {
            @extend .sport-icon_theme_dark;
        }
    }

    &__title {
        flex: auto;
        @extend %main-italic-text;
        color: currentColor;
    }

    &__sport-icon {
        flex: none;
        inline-size: 50px;
        block-size: 50px;
    }
}
