.tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__list {
        display: flex;
        gap: 15px;
    }

    // &__item {}

    &__item-link {
        display: flex;
        align-items: center;
        gap: 10px;

        appearance: none;
        text-decoration: none;
        min-block-size: 35px;
        padding: 8px 20px;
        text-align: center;
        @extend %main-italic-text;
        @extend %card-style;
        transition: background-color 0.25s ease-in, color 0.25s ease-in, opacity 0.25s ease-in;

        &_active {
            background-color: var(--main-color);
            color: #fff;

            .tabs__item-icon::before {
                background-color: #fff;
            }
        }

        &:hover {
            opacity: 0.75;
        }
    }

    &__item-icon::before {
        inline-size: 20px;
        block-size: 20px;
        background-color: var(--main-text-color);
    }

    // &__container {}
}
