.team-card {
    border-radius: 10px;
    background-color: var(--main-color);
    padding: 15px;
    color: #fff;

    min-inline-size: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-auto-flow: dense;
    gap: 15px;


    // Содержит третью колонку с рейтингом
    &_content_rating {
        grid-template-columns: auto 1fr auto;

        .team-card__rating {
            grid-area: 1/3/2/4;
        }
    }

    // Расположена в блока Рейтинги
    &_place_rating {
        .team-card__image {
            grid-area: 1/1/2/2;
            align-self: center;
        }
        .team-card__rating {
            grid-area: 1/1/2/2;
            margin-top: 34px;
            align-self: center;
            justify-self: center;

            border-radius: 50%;
            inline-size: 16px;
            block-size: 16px;
            font-size: var(--small-text-size);
        }
    }

    // Обратный порядок для колонки справа
    &_type_reverse {
        grid-template-columns: 1fr auto;
        text-align: right;

        .team-card__image {
            order: 1;
        }
    }

    &__image {
        min-inline-size: 50px;
        max-inline-size: 50px;
        inline-size: 50px;
        block-size: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    &__rating {
        @extend %card-style;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        inline-size: clamp(36px, 6vi, 60px);
        block-size: clamp(36px, 6vi, 60px);
        @extend %title;
        color: var(--main-text-color);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        @extend %main-text;
        font-weight: 800;

        // Если название длинное, где вместо пробелов нижние подчеркивания
        word-break: break-word;
    }

    &__text {
        @extend %small-caption-text;
        opacity: 0.5;
    }
}
