.calendar-container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
    gap: 25px;

    &__select-field {
        @include media(md) {
            box-shadow: none;

            .select-field__field {
                display: none;
            }

            .select-field__list {
                position: relative;
                background-color: transparent;
                box-shadow: none;

                display: flex;
                flex-direction: column;
                gap: 15px;

                max-height: 26.375em;
                padding-inline-end: 15px;

                visibility: visible;
                opacity: 1;
                pointer-events: all;
                transition: visibility 0s, opacity 0.35s;
            }
        }
    }
}
