<form class="calendar-container" name="calendar">
  <div class="select-field calendar-container__select-field">
      <select class="select-field__select" name="" id="">
          <option value="" selected disabled>Выберите вид спорта</option>
          <option value="">Бадминтон</option>
          <option value="">Баскетбол</option>
          <option value="">Волейбол</option>
      </select>
      <div class="select-field__field">
          Выберите вид спорта
          <span class="select-field__icon icon icon_type_arrow-right"></span>
      </div>
      <ul class="select-field__list">
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Бадминтон</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_badminton"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Баскетбол</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_basketball"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Волейбол</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_volleyball"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Гандбол</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_handball"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Гимнастика</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_gymnastics"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Гольф</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_golf"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">ГТО</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_gto"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Единоборства</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_single-combat"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Зимние виды спорта</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_winter-sport"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Киберспорт</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_cybersport"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Мини-футбол</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_mini-football"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Настольный теннис</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_table-tennis"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Плавание</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_swimming"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Президентские состязания</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_presidential-contests"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Президентские спортивные игры</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_presidential-games"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Регби</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_rugby"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Соревнования для дошкольников</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_primary-school"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Спартакиада Инваспорта</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_spartakiad-invasport"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Спартакиада “Надежда”</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_spartakiad-hope"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Спортивные конкурсы</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_sport-activities"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Спортивные танцы</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_sport-dance"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Фитнес-аэробика</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_fitness"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Флорбол</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_floorball"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Футбол</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_football"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Черлидинг</h3>
                  <span
                      class="sport-card__sport-icon sport-icon sport-icon_type_cheerleader"
                  ></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Шахматы</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_chess"></span>
              </article>
          </li>
          <li>
              <article class="sport-card sport-card_place_calendar">
                  <h3 class="sport-card__title">Шашки</h3>
                  <span class="sport-card__sport-icon sport-icon sport-icon_type_checkers"></span>
              </article>
          </li>
      </ul>
  </div>
  @@include("../calendar/calendar.html")
</form>