.form {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        display: flex;
        gap: 20px;
        align-items: center;

        &_align_end {
            margin-inline-start: auto;
        }
    }
}
