@mixin sport-icon($type) {
    &_#{$type} {
        &::before {
            background-image: url(../images/#{$type}_theme_light.svg);
        }
        &::after {
            background-image: url(../images/#{$type}_theme_dark.svg);
            opacity: 0;
        }
    }
}
.sport-icon {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        inline-size: 100%;
        block-size: 100%;
        background-size: contain;
        background-position: center;
        transition: opacity 0.35s ease-in;
    }
    &_type {
        @include sport-icon(badminton);
        @include sport-icon(basketball);
        @include sport-icon(checkers);
        @include sport-icon(cheerleader);
        @include sport-icon(chess);
        @include sport-icon(cybersport);
        @include sport-icon(floorball);
        @include sport-icon(fitness);
        @include sport-icon(football);
        @include sport-icon(golf);
        @include sport-icon(gto);
        @include sport-icon(gymnastics);
        @include sport-icon(handball);
        @include sport-icon(mini-football);
        @include sport-icon(presidential-contests);
        @include sport-icon(presidential-games);
        @include sport-icon(primary-school);
        @include sport-icon(rugby);
        @include sport-icon(single-combat);
        @include sport-icon(spartakiad-hope);
        @include sport-icon(spartakiad-invasport);
        @include sport-icon(sport-activities);
        @include sport-icon(sport-dance);
        @include sport-icon(swimming);
        @include sport-icon(table-tennis);
        @include sport-icon(volleyball);
        @include sport-icon(winter-sport);
    }

    &_theme_dark {
        &::before {
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
    }
}
