.thourney-table {
    &__column {
        display: flex;
        gap: 20px;
        flex-direction: column;

        &:not(:last-child):nth-of-type(2) {
            .thourney-table__item {
                --height: calc(100% + var(--gap) + 2px);
                --gap: 20px;
            }
        }

        &:not(:last-child):nth-of-type(3) {
            .thourney-table__item {
                --height: calc(200% + var(--gap) + 2px);
                --gap: 40px;
            }
        }

        &:not(:last-child):nth-of-type(4) {
            .thourney-table__item {
                --height: calc(300% + var(--gap) + 2px);
                --gap: 60px;
            }
        }
    }

    &__column-title {
        padding: 8px 20px;
        text-align: center;
        font-size: var(--main-text-size);
        font-style: italic;
        font-weight: 800;
        line-height: 1;
        background-color: var(--main-color);
        color: #fff;
        border-radius: 10px;
    }

    &__items {
        height: 100%;

        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    &__item {
        --height: calc(50% + var(--gap) + 1px);
        --gap: 10px;

        margin-block: auto;
        min-block-size: 115px;
        padding: 10px;
        background-color: var(--main-color);
        color: #fff;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        position: relative;

        &:not(:only-child):nth-child(odd) {
            &::before {
                content: "";
                position: absolute;
                inset: 50% auto auto 100%;
                inline-size: 10px;
                block-size: var(--height);
                border: 2px solid var(--main-color);
                border-top-right-radius: 5px;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
            &::after {
                content: "";
                position: absolute;
                inset: var(--height) -16px auto auto;
                inline-size: 6px;
                block-size: 100%;
                translate: 0 calc(50% - 1px);
                border-top: 2px solid var(--main-color);
            }
        }
        &:not(:only-child):nth-child(even) {
            &::before {
                content: "";
                position: absolute;
                inset: auto auto 50% 100%;
                inline-size: 10px;
                block-size: var(--height);
                border: 2px solid var(--main-color);
                border-bottom-right-radius: 5px;
                border-left-color: transparent;
                border-top-color: transparent;
            }
        }

        &_empty {
            filter: grayscale(100%);
            opacity: 0.4;
            justify-content: center;
        }
    }

    &__item-datetime {
        @extend %small-caption-text;
    }
}
