<footer class="footer page__footer">
  <div class="footer__wrapper">
      <address class="footer__address">
          <a
              class="footer__link footer__link_type_location"
              href="https://yandex.ru/maps/213/moscow/house/otkrytoye_shosse_6k12/Z04YcQRlS0MGQFtvfXRxeHhibA==/?indoorLevel=1&ll=37.735261%2C55.809419&z=17"
              target="_blank"
              rel="noreferrer"
          >
              <span class="footer__icon icon icon_type_location"></span>
              Москва, ул.&nbsp;Открытое шоссе, д.&nbsp;6, к.&nbsp;12
          </a>
          <a
              class="footer__link footer__link_type_metro"
              href="https://yandex.ru/maps/213/moscow/stops/station__9858932/?ll=37.734167%2C55.814589&tab=overview&z=16"
              target="_blank"
              rel="noreferrer"
          >
              <span class="footer__icon icon icon_type_metro"></span>
              м.&nbsp;Бульвар Рокоссовского
          </a>
      </address>
      @@include("../social-group/social-group.html", {"class": "social-group_place_footer"})
  </div>
</footer>