.rating-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @extend %card-style;

    &__title-block {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__icon {
        flex: none;
        min-inline-size: 40px;
        max-inline-size: 40px;
        border-radius: 10px;
        background-color: var(--main-color);

        &::before {
            background-color: #fff;
            inline-size: 40px;
            block-size: 40px;
            mask-size: 70%;
        }
    }

    &__title {
        text-align: right;
        flex: auto;
        @extend %main-italic-text;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
