<article class="rating-card">
    <div class="rating-card__title-block">
        <span class="rating-card__icon icon icon_type_star"></span>
        <h2 class="rating-card__title">ШСК > 3000 человек</h2>
    </div>
    <ul class="rating-card__list">
      @@include('../team-card/team-card.html', {'class': 'team-card_place_rating', 'place': '1'})
      @@include('../team-card/team-card.html', {'class': 'team-card_place_rating', 'place': '2'})
      @@include('../team-card/team-card.html', {'class': 'team-card_place_rating', 'place': '3'})
    </ul>
</article>
