<article class="rating-card">
    <div class="rating-card__title-block">
        <span class="rating-card__icon icon icon_type_star"></span>
        <h2 class="rating-card__title">@@title</h2>
    </div>
    <ul class="rating-card__list">
      @@loop('../team-card/team-card.html', [
      {
        'class': '@@class',
        'school': '@@team_1.school',
        'team': '@@team_1.team',
        'place': '@@team_1.place'
      },
      {
        'class': '@@class',
        'school': '@@team_2.school',
        'team': '@@team_2.team',
        'place': '@@team_2.place'
      },
      {
        'class': '@@class',
        'school': '@@team_3.school',
        'team': '@@team_3.team',
        'place': '@@team_3.place'
      }])
    </ul>
</article>
