.accordion {
    @extend %card-style;

    &_open {
        .accordion__caption {
            border-color: var(--grey-color);
        }

        .accordion__button {
            background-color: var(--main-color);

            &::before {
                mask-image: url(../images/arrow-up.svg);
                background-color: #fff;
                mask-size: 40%;
            }
        }

        .accordion__container {
            display: block;
            opacity: 1;
        }
    }
    &__caption {
        border-radius: 10px;
        border-bottom: 2px solid #fff;
        transition: border-color 0.25s ease-in;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
        padding: 15px;
    }
    &__button {
        flex: none;

        appearance: none;
        border: none;
        background-color: var(--grey-color);
        border-radius: 50%;
        inline-size: clamp(36px, 5vi, 50px);
        block-size: clamp(36px, 5vi, 50px);
        padding: 0;
        margin-block-start: 8px;
        cursor: pointer;
        transition: opacity 0.25s ease-in;

        &::before {
            inline-size: clamp(36px, 5vi, 50px);
            block-size: clamp(36px, 5vi, 50px);
            background-color: var(--main-color);
            mask-size: 50%;
        }

        &:hover {
            opacity: 0.75;
        }

        &:active {
            transform: translateY(1px);
        }
    }
    &__container {
        padding: 15px;

        display: none;
        opacity: 0;
        transition: opacity 0.35s ease-in;
    }
}
