<div class="accordion">
  <div class="accordion__caption">
      <article class="event-card">
          <span class="event-card__icon icon icon_type_trophey"></span>
          <div class="event-card__content">
              <h3 class="event-card__title">@@title</h3>
              <div class="chip-container">
                  <span class="chip-container__item">@@dates</span>
                  <span class="chip-container__item">
                      <span
                          class="chip-container__icon sport-icon sport-icon_type_@@icon sport-icon_theme_dark"
                      ></span>
                      @@sport
                  </span>
              </div>
          </div>
      </article>
      <button
          type="button"
          class="accordion__button icon icon_type_plus"
          aria-label="Свернуть/Развернуть"
      ></button>
  </div>
  <div class="accordion__container">
      <div class="events-container">
          <ul class="events-container__list">
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >мальчики от 2002 до 2008 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >девочки от 2002 до 2008 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >Юноши 2013-2014 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >Юноши 2015-2016 г.р.</a
                  >
              </li>
          </ul>
          <ul class="events-container__list">
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >Девушки 2010-2011 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >Девушки 2011-2012 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >мальчики и девочки от 1957 до 2019 г.р.</a
                  >
              </li>
              <li>
                  <a class="button button_size_small button_theme_grey" href="./detail-event.html"
                      >мальчики и девочки от 1957 до 2019 г.р.</a
                  >
              </li>
          </ul>
      </div>
  </div>
</div>