<div class="accordion accordion_theme_primary">
    <div class="accordion__caption">
        <article class="team-card team-card_content_rating-stats team-card_place_accordion">
            <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
            <span class="team-card__rating">@@rates</span>
            <div class="team-card__content">
                <h3 class="team-card__title">@@title</h3>
                <p class="team-card__text">@@school</p>
            </div>
            <div class="team-card__stats team-stats">
                <p class="team-stats__item" aria-label="Количество проведенных игр" title="Количество проведенных игр">
                    <span class="team-stats__label">И</span>
                    <span class="team-stats__value">2</span>
                </p>
                <p class="team-stats__item" aria-label="Количество выигранных игр" title="Количество выигранных игр">
                    <span class="team-stats__label">В</span>
                    <span class="team-stats__value">0</span>
                </p>
                <p class="team-stats__item" aria-label="Количество проигранных игр" title="Количество проигранных игр">
                    <span class="team-stats__label">П</span>
                    <span class="team-stats__value">0</span>
                </p>
                <p class="team-stats__item" aria-label="Количество игр в ничью" title="Количество игр в ничью">
                    <span class="team-stats__label">Н</span>
                    <span class="team-stats__value">0</span>
                </p>
                <p class="team-stats__item" aria-label="Количество очков" title="Количество очков">
                    <span class="team-stats__label">О</span>
                    <span class="team-stats__value">2</span>
                </p>
            </div>
        </article>
        <button type="button" class="accordion__button icon icon_type_plus" aria-label="Свернуть/Развернуть"></button>
    </div>
    <div class="accordion__container">
        <ul class="page__card-deck page__card-deck_size_exlarge">
            <li class="shedule-card">
                <div class="team-card shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">Спортивный клуб " Искра" арм. юноши</h3>
                        <p class="team-card__text">ГБПОУ КСУ № 3</p>
                    </div>
                </div>
                <div class="shedule-card__game-info">
                    <div class="shedule-card__panel">
                        <span class="shedule-card__icon icon icon_type_camera" aria-label="Просмотр"></span>
                        <p class="shedule-card__score">22&nbsp;:&nbsp;22</p>
                        <span class="shedule-card__icon icon icon_type_location" aria-label="Место проведения"></span>
                    </div>
                    <p class="shedule-card__datetime">01.04.2023 | 15:00</p>
                </div>
                <div class="team-card team-card_type_reverse shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">ГБПОУ "МКАГ"</h3>
                        <p class="team-card__text">ГБПОУ "МКАГ"</p>
                    </div>
                </div>
            </li>
            <li class="shedule-card">
                <div class="team-card shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">ССК "Триумф"_Инваспорт_Армрестлинг_дев</h3>
                        <p class="team-card__text">ГБПОУ ОК "Юго-Запад"</p>
                    </div>
                </div>
                <div class="shedule-card__game-info">
                    <div class="shedule-card__panel">
                        <span class="shedule-card__icon icon icon_type_camera" aria-label="Просмотр"></span>
                        <p class="shedule-card__score">22&nbsp;:&nbsp;22</p>
                        <span class="shedule-card__icon icon icon_type_location" aria-label="Место проведения"></span>
                    </div>
                    <p class="shedule-card__datetime">01.04.2023 | 15:00</p>
                </div>
                <div class="team-card team-card_type_reverse shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">Спортивный клуб "Искра" арм. девушки</h3>
                        <p class="team-card__text">ГБПОУ КСУ № 3</p>
                    </div>
                </div>
            </li>
            <li class="shedule-card">
                <div class="team-card shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">ШСК “олимпиец”</h3>
                        <p class="team-card__text">Школа</p>
                    </div>
                </div>
                <div class="shedule-card__game-info">
                    <div class="shedule-card__panel">
                        <span class="shedule-card__icon icon icon_type_camera" aria-label="Просмотр"></span>
                        <p class="shedule-card__score">22&nbsp;:&nbsp;22</p>
                        <span class="shedule-card__icon icon icon_type_location" aria-label="Место проведения"></span>
                    </div>
                    <p class="shedule-card__datetime">01.04.2023 | 15:00</p>
                </div>
                <div class="team-card team-card_type_reverse shedule-card__team">
                    <img loading="lazy" class="team-card__image" src="./images/no-image.png" alt="Изображение школы" />
                    <div class="team-card__content">
                        <h3 class="team-card__title">ШСК “олимпиец”</h3>
                        <p class="team-card__text">Школа</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
