<!-- Блок с видео и трансляциями -->
<section class="page__section">
    <h2 class="page__title">Видео и трансляции</h2>
    <ul class="page__card-deck">
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./video.html",
                card : {
                    "class": "card",
                    "title": "ШСЛ по баскетболу. Игра за третье место",
                    "datetime": "01.04.2023",
                    "image": "./images/video-card__image.jpg" }
                })
        </li>
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./video.html",
                card : {
                    "class": "card",
                    "title": "ШСЛ по баскетболу. Игра за третье место",
                    "datetime": "01.04.2023",
                    "image": "./images/video-card__image.jpg" }
                })
        </li>
        <li>
            @@include("../card-link/card-link.html", {
                "href": "./video.html",
                card : {
                    "class": "card",
                    "title": "ШСЛ по баскетболу. Игра за третье место",
                    "datetime": "01.04.2023",
                    "image": "./images/video-card__image.jpg" }
                })
        </li>
    </ul>
</section>
